<!DOCTYPE html>
<html>
<head>
	<title>IA - inteligencia Artificial</title>
</head>
<body>
	<h1>$ARROL-PREDICION DE SALARIO</h1>
    <div id="carouselExample" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img src="../../../assets/img/img1.jpg" class="d-block w-100" alt="100px"  >
          </div>
          <div class="carousel-item">
            <img src="../../../assets/img/img2.jpg" class="d-block w-100" alt="10px">
          </div>
          <div class="carousel-item">
            <img src="../../../assets/img/img3.jpg" class="d-block w-100" alt="10px">
          </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
    <div class="info-home">
	<p>Una IA que predice un salario en rangos es un modelo de inteligencia artificial que utiliza técnicas de aprendizaje automático para analizar diferentes variables relacionadas con un trabajo o puesto, y así poder predecir un rango de salario que puede ser ofrecido para esa posición. Estas variables pueden incluir la ubicación geográfica, el nivel de educación, la experiencia laboral, el sector de la industria, entre otras. El objetivo principal de esta IA es ayudar a las empresas a tomar decisiones más informadas y justas sobre la remuneración de sus empleados.</p>
	
	<h2>Integrantes del equipo</h2>
	<ul>
		<li>Jeimmy Eche</li>
		<li>Juan Cañarte</li>
		<li>David Casnanzuela</li>
		<li>Oscar Castillo</li>
	</ul>
</div>
</body>

</html>
